<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Klarna Payments JS-->
    <script src="https://x.klarnacdn.net/kp/lib/v1/api.js"></script>

    <!--Vue and Axios-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



    <!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>            

    <!-- Boostrap styling
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script> -->

    <!--For response syntax highlighting-->
    <link rel="stylesheet" href="css/app.css">
    
    
    

    <title>Klarna Payments Demo</title>
</head>

<body>

    <script type="text/javascript">
        window.klarnaAsyncCallback = function () {}
    </script>

    <div id="app">

        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo center">Klarna Playground</a>
              <ul class="left">
                <li class="active"><a href="/">Klarna Payments</a></li>
                <li><a href="#">Klarna Checkout [Coming soon]</a></li>
                <li><a href="#">Instant Shopping [Coming soon]</a></li>
              </ul>
            </div>
          </nav>

          
        
        <!--Modal to show user data sent in-->
        <div class="modal fade" id="demoModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Create Session User Data</h2>
                        <button type="button" class="close" 
                        data-dismiss="modal" 
                        data-target="demoModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="userData">Edit the user data below</label>
                                <!--jsonUserData is watched for changes in app.js to see if there are any malformed JSON errors-->
                                <textarea id="userData" class="form-control" v-model="jsonUserData" rows="10"><code language="json">{{jsonUserData}}</code></textarea>
                                
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="alert alert-danger alert-dismissable fade show" role="alert" v-if="malformedJSON">
                            <button class="close" data-dismiss="alert">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                            <h5 class="alert-heading">{{malformedJSONError}}</h5>
                        </div>
                        <button class="btn btn-medium btn-info" @click="resetUserJSONData">Reset Create Session Data</button>
                        <button type="button" class="btn btn-secondary" 
                        data-dismiss="modal" 
                        data-target="demoModal" @click="createSession" :disabled="malformedJSON"> Create KP Session </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col s12 m8">
                        <a id="createSession" class="btn-small waves-effect waves-light" @click="createSession">Create KP Session</a>
                        <a
                        class="btn-small waves-effect waves-light" 
                        data-toggle="modal" 
                        data-target="#demoModal">Show User Data</a>
                        <!--data-toggle=modal will allow this button to show the modal-->
                        <!--We need to define which modal will show up by specifying the modal-->
                        <!--We then use data-target="#id-of-modal". This is needed by Bootstrap's JS to 
                        understand which modal to show-->


                        <ul class="collapsible popout">
                            <li v-for="pmcIdentifier in pmcIdentifiers">
                                <div class="collapsible-header">{{pmcIdentifier.name}}</div>
                                <div class="collapsible-body">
                                    <span>
                                        <div :id="pmcIdentifier.identifier"></div>
                                        <!-- Sending in the specific identifier to the authorize function so that when the user
                                                clicks on the buy button, the authorize function is called on that specific
                                                payment method category -->
                                        <a href="#" class="btn-small waves-effect waves-light"
                                            @click="authorize(pmcIdentifier.identifier)">Buy</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                </div>
                <div class="col s12 m4">Log</div>
            </div>
            <!--end row-->      
    
            
            <!--Klarna Responses-->
            <div class="row pt-5 pb-5 justify-content-center">
                <div class="col-sm-12 col-md-9">
                    <template v-if="order_id">
                        <div class="alert alert-success alert-dismissable fade show" role="alert">
                            <button class="close" data-dismiss="alert">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                            <h3 style="color: indianred" class="alert-heading">Purchase Confirmation</h3>
                            <pre class="alert-body">Order ID: {{order_id}}</pre>
                            <pre class="alert-body">Authorized Payment Method: {{authorized_payment_method.toUpperCase()}}</pre>
                        </div>
                    </template>
                    <template v-if="authToken">
                        <div class="alert alert-info alert-dismissable fade show">
                            <button class="close" data-dismiss="alert">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                            <h3 class="alert-heading">Authorization token: </h3>
                            <pre class="alert-body">{{authToken}}</pre>
                        </div>
                    </template>
                    <template v-if="klarnaResponse">
                        <div class="alert alert-info alert-dismissable fade show">
                            <button class="close" data-dismiss="alert">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                            <h4 class="alert-heading">Create Session Response: </h4>
                            <pre class="pre-scrollable">
                                {{klarnaResponse}}
                            </pre>
                        </div>
                    </template>
                    <!--End alert-->
                </div>
            </div>
        </div>
        <!--end container-fluid-->

    </div>
    <!--end app-->


    <!--Syntax highlighting-->
 <script src="js/app.js"></script>
 <script>
        M.AutoInit();
</script>
 


</body>

</html>