<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://x.klarnacdn.net/kp/lib/v1/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>KP Demo</title>
</head>

<body>

    <script type="text/javascript">
        window.klarnaAsyncCallback = function () {}
    </script>
    <div id="app">

        <section class="jumbotron jumbotron-fluid">
            <div class="container is-fluid">
                <h1 class="display-4">
                    Klarna Payments Playground
                </h1>
                <p class="lead">
                    Test out Klarna Payments with your playground credentials
                </p>
            </div>
        </section>

        <div class="container-fluid">
            <div class="row pb-4 pt-4">
                <div class="mx-auto">
                    <button id="createSession" class="btn btn-dark" @click="createSession">Create KP Session</button>

                    <button id="authorize" class="btn btn-light" @click="authorize"
                        v-if="payment_methods_loaded">Authorize</button>
                    <button id="buy" class="btn btn-info" @click="placeOrder" v-if="authToken">Place Order</button>
                </div>
                <!--end mx-auto-->
            </div>
            <!--end row-->



            <div class="row" v-for="pmcIdentifier in pmcIdentifiers">
                <div class="col-sm-6 mx-auto">
                    <div class="bg-light clearfix">
                        <h3 class="">{{pmcIdentifier.name}}</h3>
                        <img class="float-right alig-self-middle" :src="pmcIdentifier.badge" alt="Klarna Badge">
                    </div>
                    <div :id="pmcIdentifier.identifier" style="border: 1px indianred dotted;"></div>
                </div>
            </div>
            <!--end v-for div-->

            <div class="row">
                <div class="mx-auto bg-warning">
                    <template v-if="order_id">
                        <h1 style="color: indianred">Purchase Confirmation</h1>
                        <div class="text-center">Order ID: {{order_id}}</div>
                    </template>

                </div>
            </div>
        </div>
        <!--end container-fluid-->


    </div>
    <!--end app-->



    <script defer src="../frontend/js/app.js"></script>
</body>

</html>